/* font-family: font, fallbackfont   [Fallback font used if font not supported by visitor's browser
 font-size: 32px
 color: #FF0000, red, rgb(0,128,128) */
main {
	background-image: url('https://i.ytimg.com/vi/YWcrfp_dXKM/maxresdefault.jpg');
	background-position: center top;
	background-size: cover;
	color:rgb(0,128,128);
}